@import "../../styles/mixins";

.container {
  width: 100%;
  padding: 24px 24px;
  @include if-mobile{
    padding:24px 0;
  }
  box-sizing: border-box;
  border-bottom: 1px solid #d9d9d9;
}

.text {
  margin: 10px 5px;
  width: 100%;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}

.userinfo {
  display: flex;
  padding-top: 20px;
  @include if-onlymobile {
    display: block;
  }
}

.nickname {
  color: #707070;
  font-size: 16px;
  margin-left: auto;
  @include if-onlymobile {
    margin-top: 20px;
    display: block;
    width: 100%;
    text-align: right;
  }
}
.wrap_like {

  button {
    height: 26px;
    width: 80px;
    background-color: #ededed;
    border-radius: 10px;
    margin-left:5px;
    span {
      color: #000;
    }
    img {
      margin-right: 5px;
      width: 16px;
      height: 16px;
    }
  }
  p {
    display: inline-block;
    margin-right: 5px;
    color: #707070;
    font-weight: bold;
    font-size: 16px;
  }
}
