.container {
  width: 100%;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  padding: 40px 0;
  font-size: 36px;
  font-weight: bold;
}

.wrap_count {
  display: flex;
  padding-bottom: 10px;
  align-items: center;
}

.btn_write {
  margin-left: auto;
  min-width: 84px;
  border: 1px solid #212425;
  padding: 0 20px;
  border-radius: 15px;
  font-weight: bold;
  height: 35px;
}

.btn_refresh {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  img {
    width: 100%;
    height: 100%;
  }
}

.count {
  font-size: 20px;
  font-weight: bold;
  line-height: 35px;
  span {
    color: #2189ff;
    margin-left: 5px;
  }
}

.list {
  border-top: 2px solid #000;
  margin-top: 10px;
}
