@import "../../styles/mixins";

.container {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
}

.inner {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  // justify-content: space-between;
  justify-content: center;
  align-items: center;

  & > div{
    margin:80px;
  }

  @include if-mobile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & > div{
      margin:0;
    }
  }

}

.imgWrapper {
  min-width: 500px;
  max-width: 500px;
  height: 383.41px;
  & > img {
    width: 400px;
    height: auto;
  }

  @include if-mobile{
    min-width: 500px;
    max-width: 500px;
    height:200px;
    & > img {
      width: 400px;
      height: auto;
    }
    margin:30px 0;
  }

  overflow: hidden;
  position: relative;
  @include if-mobile {
    min-width: 340px;
    max-width: 340px;
    display:flex;
    justify-content: center;
    & > img {
      width: 300px;
      height: auto;
    }
  }


  & > div {
    border: 1px solid #5f7464;
    cursor: pointer;
    width: 196.5px;
    height: 115.22px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e9e7e6;
    background-size: cover;

    @include if-mobile {
      width: 146px;
      height: 90px;
    }

    & > div {
      width: 20px;
      height: 20px;
      padding: 5px;
      border: 1.5px dashed black;
      border-radius: 50%;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
    }


  }

  & > div:hover {
    border: 2px dashed #c69b7b;
    & > div {
      border: 2px dashed #c69b7b;
      color: #c69b7b;
    }
  }
}

.firstPart {
  top: 0;
  left: 52px;
  @include if-mobile {
    top:2px;
    left: 22px;
    // width: 50%;
  }
}
.secondPart {
  // background: yellow;
  top: 0;
  right: 52px;
  @include if-mobile {
    top:2px;
    right: 22px;
    // width: 50%;
  }
}
.thirdPart {
  // background-color: yellowgreen;
  bottom: 149px;
  left: 52px;
  @include if-mobile {
    left: 22px;
    bottom: 16px;
    // width: 50%;
  }
}
.fourthPart {
  // background-color: aqua;
  bottom: 149px;
  right: 52px;
  @include if-mobile {
    right: 22px;
    bottom:16px;
    // width: 50%;
  }
}

.colorWrapper {
  padding: 20px;
  min-height: 300px;
  @include if-mobile {
    padding: 0;
  }
  @include if-mobile {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.colorTitle {
  font-size: 18px;
  font-weight: 700;
}

.colorPalette {
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  margin: 10px 0;
  min-height: 300px;
  min-width: 500px;
  @include if-onlymobile {
    width: 100%;
    min-width: 100%;
    box-sizing: border-box;
  }
}

.colorlist {
  padding: 5px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;

  & > span {
    margin-left: 5px;
    width: 80px;
    font-size: 12px;
    font-weight: 700;
  }
}

.myEditionColorList {
  display: flex;
  flex-wrap: wrap;
  & li {
    margin: 5px 5px;
    width: 80px;
    display: flex;
    justify-content: center;
  }

  & img {
    width: 50px;
    height: 50px;
    margin-bottom: 3px;
  }

  & button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & span {
      font-size: 10px;
      text-align: center;
      font-weight: bold;
    }
  }
}
